{
  "extends": "@folio/eslint-config-stripes",
  "parser": "babel-eslint",
  "env": {
    "jest/globals": true
  },
  "overrides": [
    {
      "files": ["**/*.test.js", "test/jest/**/*"],
      "rules": {
        "max-classes-per-file": "off",
        "no-unused-expressions": "off",
        "react/prop-types": "off",
        "jsx-a11y/control-has-associated-label": "off",
        "react/jsx-fragments": "off",
        "func-names": "off"
      }
    }, {
      "files": ["test/jest/**/*"],
      "rules": {
        "react/prop-types": "off"
      }
    }
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx"]
      }
    }
  },
  "rules": {
    "arrow-body-style": "off",
    "import/prefer-default-export": "off",
    "import/no-useless-path-segments": "off",
    "comma-dangle": ["error", "always-multiline"],
    "import/no-extraneous-dependencies": "off",
    "jsx-quotes": ["error", "prefer-double"],
    "no-console": "warn",
    "react/forbid-prop-types": "off",
    "react/destructuring-assignment": "off",
    "react/sort-prop-types": ["error"],
    "no-unused-vars": ["error", { "ignoreRestSiblings": true }],
    "padding-line-between-statements": ["error",
      { "blankLine": "always", "prev": ["const", "let", "var"], "next": "*"},
      { "blankLine": "any", "prev": ["const", "let", "var"], "next": ["const", "let", "var"]}
    ]
  },
  "plugins": ["jest"]
}
